/* html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-container {
    
}

#message-container {
    border: 1px solid black;
    padding: 10px; 
    padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

#form {
    margin-top: 10px;
}

#message {
    padding: 10px;
	background-color: lightblue;
	border-radius: 5px;
    margin-bottom: 10px;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #e6e9ff;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#send-button {
    cursor: pointer;
}


#chat-container {
    max-width: 1100px; 
    background: lightblue;
    /* overflow: hidden; */
    padding: 20px;
    border-radius: 10px;
}

#main {
    display: flex;
    /* padding: 20px; */
    margin-bottom: 20px;
}

#user-sidebar {
    margin-right: 20px;
}


#message-container {
    /* border: 1px solid black; */
    padding: 20px 30px 20px 30px;
	/* max-height: 500px; */
	overflow-y: scroll;
    background: #fff;
}

#message {
    padding: 5px;
	background-color: lightblue;
	border-radius: 5px;
    margin-bottom: 10px;
} 

/*
#user-sidebar {
    overflow-y: scroll;
}

#form {
    justify-content: center;
} */