* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #e6e9ff;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

#send-button {
    cursor: pointer;
    padding: 5px 15px;
    background: #b1b8e9;
    border: 0;
    border-radius: 5px;
    color: #4559f7;
    font-size: 15px;
    font-weight: bold;
}

#send-button:hover {
    background: #999ed1;
}


#chat-container {
    max-width: 1100px; 
    background: lightblue;
    /* overflow: hidden; */
    padding: 20px;
    border-radius: 10px;
}

#main {
    display: flex;
    /* padding: 20px; */
    margin-bottom: 20px;
}

#user-sidebar {
    margin-right: 20px;
}


#message-container {
    /* border: 1px solid black; */
    padding: 20px 30px 20px 30px;
	/* max-height: 500px; */
	overflow-y: scroll;
    height: 300px;
    width: 300px;
    background: #fff;
}

.message {
    padding: 5px;
	background-color: #b1b8e9;
	border-radius: 5px;
    margin-bottom: 10px;
} 

.message .user {
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
    margin-bottom: 7px;
    color: #4559f7;
}

#form {
    float: right;
} 

#message-input {
    width: 230px;
    height: 25px;
    
}

#user-sidebar {
    overflow-y: scroll;
    padding-right: 10px;
    height: 300px;
}

#users li {
    padding: 10px 5px;
    font-size: 16px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

#global-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

#username {
    margin-bottom: 10px;
}

#room {
    margin-bottom: 10px;
}

#users li span {
    margin-left: 5px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
}

.chats {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    
}
